In [5]:
import pandas as pd
mainpath="/media/msi-lap/382437ea-2f35-4576-85b8-d35145839b4a/respaldo/material todo/IA/2020"
filename="titanic3.csv"
data = pd.read_csv(mainpath+"/"+filename) 
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [2]:
ls

 Dia1.ipynb                                    'Dia 6 Limpieza de Datos.ipynb'
'Dia 2 Slice.ipynb'                             PLF/
'Dia3 Series versus 1-column DataFrame.ipynb'   sales.csv
'Dia 4.ipynb'                                   titanic3.csv
'Dia 5.ipynb'                                   Untitled.ipynb

In [3]:
pwd

'/media/msi-lap/382437ea-2f35-4576-85b8-d35145839b4a/respaldo/material todo/IA/2020'

In [21]:
data['survived']

0       1
1       1
2       1
3       1
4       1
       ..
1304    1
1305    1
1306    1
1307    1
1308    1
Name: survived, Length: 1309, dtype: int64

In [37]:

count=0
for col in data['survived']:
    #print(data['survived'].mean())
    
    if (data['survived'][col]==1):
        #print('sobrevivio')
        count=count+1
print (count)

1309

In [53]:
sobrevivientes=data['survived']=="1"

In [50]:
sobrevivientes

0       True
1       True
2       True
3       True
4       True
        ...
1304    True
1305    True
1306    True
1307    True
1308    True
Name: survived, Length: 1309, dtype: bool